/* =========== */
/* General CSS */
/* =========== */

* {
    margin: 0;
    padding: 0;
}

/* ============= */
/* Main Grid CSS */
/* ============= */

.main-grid-container {
    display: grid;
    grid-template-columns: .5fr 1fr  1fr 1fr;
    grid-template-rows: .5fr 1fr  1fr 1fr;

    height: 100vh;
    width: 100vw;
}

/* ========== */
/* Header CSS */
/* ========== */

.header-container {
    background-color: rgb(0, 153, 255);
    grid-area: 1 / 1 / 2 / 5;
}

.title-logo-container {
    height: 100%;
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 3rem;
}

.todo-logo {
    height: 2rem;
    width: 2rem;
}

.title-logo-container h1 {
    color: #fff;
    font-size: 2rem;
}



/* ================ */
/* Main Content CSS */
/* ================ */

.main-content-container {
    background-color: purple;
    grid-area: 2 / 2 / 5 / 5;
}

/* ============ */
/* Sidebar CSS */
/* ============ */

.sidebar-container {
    background-color: green;
    grid-area: 2 / 1 / 5 / 2;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 100%;
}

.sort-by-time-container, .project-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1 1 0;
    width: 100%;
    padding: 1rem 1rem 1rem 3rem;
}

.selectable-time-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    text-align: center;
    margin-top: .5rem;
    gap: .2rem;
    cursor: pointer;
    width: 75%;
    height: 2rem;
    border-radius: 10px;
    padding: .2rem 0 .2rem 1rem;
    transition: all .3s;
}

.selectable-time-container:hover {
    background-color: rgba(219, 96, 219, 0.801);
}

.side-bar-icon {
    width: 1.2rem;
    height: 1.2rem;
}